#gragh-wrapper {
  background-color: aqua;
  height: 100vh;
  overflow: scroll;
}

#add-icon {
  position: fixed;
  bottom: 3vh; 
  right: 0vw;
  padding: 0vh 2vw;
}

#card-wrapper {
  background-color: azure;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
}