#gragh-space {
  background-color: brown;
  height: 40vh;
}

#gragh-wrapper {
  background-color: aqua;
  height: 100vh;
  overflow: scroll;
}

#add-icon {
  position: fixed;
  bottom: 3vh; 
  right: 0vw;
  padding: 0vh 2vw;
}

#add-icon:hover {
  opacity: 0.7;
  cursor: default;
}

#card-wrapper {
  background-color: azure;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  margin: 5vh 0;
}